engine-strict=true
# NativeScript 需要 shamefully-hoist 才能正常工作
shamefully-hoist=true
node-linker=hoisted
registry=https://registry.npmmirror.com/ 
# registry=https://registry.npmjs.org/
disturl=https://npmmirror.com/mirrors/node/ 
sass-binary-site=https://npmmirror.com/mirrors/node-sass/ 